#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	background-color:gray;
}

#board-wrap{
	position:relative;
	width: 400px;
	height: 400px;
}

#board-wrap board{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.mygrid-wrapper-div {
	padding-top: 5px;
	padding-bottom: 5px;
    overflow: scroll;
    height: 650px;
}
.mygrid-wrapper-div-applicant {
	padding-top: 5px;
	padding-bottom: 5px;
    overflow: scroll;
    height: 600px;
}

.pane {
	border-right: solid gray 1px;
}

.applicant {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	color: #000;
	vertical-align: middle;
	border-radius: 4px;
	max-width: 100%;
	line-height: 22px;
	width: 100%;
	height: 150px;
}

.cancel {
	border: 1px solid #2b669a;
	border-radius: 4px;
}

.folder a:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    float: right;
    color: #337ab7;
}

.folder-active a:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    float: right;
    color: #ffffff;
}

.document-add {
	float: right;
	background-color: #2b669a;
	border: 1px solid #2b669a;
	border-radius: 4px;
	color: #fff;
}

.document-button {
	background-color: #fff;
	border: 1px solid #2b669a;
	border-radius: 4px;
	color: #2b669a;
	line-height: 30px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.dropdown-menu-center {
  right: 35%;
  left: auto;
}

.panel-heading {
	font-size: 115%;
	font-weight: bold;
}

.highlight .active a,
.highlight .active a:hover {
    background-color: #5bc0de !important; 
}

.button-flatten,
.button-flatten:hover,
.button-flatten:focus {
	background-color: #337ab7 !important; 
	color: #fff;
}

.button-flatten-danger,
.button-flatten-danger:hover,
.button-flatten-danger:focus {
	background-color: #d9534f !important; 
	color: #fff;
}

.button-flatten-warning,
.button-flatten-warning:hover,
.button-flatten-warning:focus {
	background-color: #f0ad4e !important; 
	color: #fff;
}

.button-flatten-good,
.button-flatten-good:hover,
.button-flatten-good:focus {
	background-color: #5cb85c !important; 
	color: #fff;
}

@font-face {
    font-family: Montserrat;
    src: url(../external_dependencies/Montserrat-Regular.ttf);
}

#title-name {
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
}
